{% extends 'base.html' %}

{% block content  %}
<a href="{% url 'movie-reviews:movie-search'%}">
  <button class="btn btn-warning">Search for another movie</button>
</a>
{% if movie_name %}
{{movie_name}} reviews

<div style="padding: 20px">
  POSITIVE SUMMARY
  {{positive_summary}}
</div>

<div style="padding: 20px">
  NEGATIVE SUMMARY
  {{negative_summary}}
</div>

<div>
  positive
  {% for sentence in positive_sentences %}
    <div style="padding: 15px">S:{{sentence.polarity}} {{ sentence.str_sentence }}</div>
  {% endfor %}
</div>

<div>
  negative
  {% for sentence in negative_sentences %}
    <div style="padding: 15px">S:{{sentence.polarity}} {{ sentence.str_sentence }} </div>
  {% endfor %}
</div>


{% else %}
 is not a valid movie name!
Try again!
{% endif %}

{% endblock %}
