{% extends 'base.html' %}

{% block content  %}
<div class="movie-container">
  <a href="{% url 'movie-reviews:movie-search'%}" class="back-button">
    <i class="back-arrow fas fa-arrow-circle-left fa-2x"></i>
  </a>
  {% if movie_name %}
    <div class="movie-name">
    {{movie_name}}
  </div>
</div>
<div class="reviews">
  <div class="positive-reviews">
    <div class="summary">Positive Summary</div>
    {{positive_summary}}
  </div>

  <div class="negative-reviews">
    <div class="summary">Negative Summary</div>
    {{negative_summary}}
  </div>
</div>

{% else %}
 is not a valid movie name!
Try again!
{% endif %}

{% endblock %}
